<h1>Tournaments</h1>
<p>
  <ul id="tournaments">
    <% @tournaments.each do |t| %>
      <li><%= link_to "#{t.event_started_at.strftime("%b %d, %Y")} - #{t.name}", { :action => 'show', :id => t.id } -%></li>
    <% end %>
  </ul>
</p>
