<div class="flex w-full border-solid border-b-4 border-primary mb-6">

  <div class="grow">
    <h1>PINVIDS</h1>
  </div>
  
  <div class="justify-self-end">
    <span>
      <%= link_to "Tournaments", tournaments_path -%>
    </span>
    <span class="ml-6">
      <%= link_to "Machines", machines_path -%></li>
    </span>
  </div>

</div>